PORT=3000

WHATSAPP_TOKEN=YOUR_WHATSAPP_TOKEN
WHATSAPP_PHONE_NUMBER_ID=YOUR_PHONE_NUMBER_ID
WHATSAPP_VERIFY_TOKEN=YOUR_VERIFY_TOKEN

HUBSPOT_TOKEN=YOUR_HUBSPOT_PRIVATE_APP_TOKEN

OPENAI_API_KEY=YOUR_OPENAI_API_KEY
